<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener class-name="com.vt.listeners.ListenerClass"></listener>
		<listener class-name="com.vt.listeners.CustomMethodInterceptor"></listener>
		<listener class-name="com.vt.listeners.CustomAnnotationTransformer"></listener>

	</listeners>
  <test thread-count="5" parallel="methods" name="module1">
    <classes>
      <class name="com.vt.tests.LoginPageTests"/>
      <class name="com.vt.tests.HomePageTests"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="module2">
	  <classes>
		  <class name="com.vt.tests.LoginPageTests" ></class>
	  </classes>
  </test>
  
  
</suite> <!-- Suite -->
